* {
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  padding: 0 1rem;
}
.button {
  color: #fc9;
  border: 1px solid #fc9;
  border-radius: 8px;
  padding: 8px;
  font-weight: bold;
}
.button:focus {
  border: 1px solid #f9c;
  color: #f9c;
  outline: 1px doted #f9c;
  outline-offset: 4px;
}
.field {
  color: #9fc;
}
.field.focus {
  color: #f9c;
  outline: 1px doted #f9c;
  outline-offset: 4px;
}
.field input[type="text"],
.field input[type="password"],
.field textarea {
  background-color: #000;
  color: #fff;
  border: 1px solid #9fc;
}
.field.focus input[type="text"],
.field.focus input[type="password"],
.field.focus textarea {
  border: 1px solid #f9c;
  outline-width: 0;
}
.formulary label {
  display: block;
}
.header {
  color: #ffc;
}
.link {
  color: #9cf;
  text-decoration: underline;
  font-weight: bold;
  margin: 8px;
}
.link:visited {
  color: #9cf;
}
.link:active,
.link:focus,
.link:hover {
  color: #f9c;
  cursor: pointer;
}
.link:focus {
  outline: 1px doted #f9c;
  outline-offset: 4px;
}
.list-vertical {
  list-style-type: none;
}
.list-vertical > li {
  list-style-type: none;
}
textarea {
  width: 100%;
}
.field_text_input {
  width: 100%;
  height: 3rem;
  margin-bottom: 16px;
}
.field_text_input:hover,
.field_text_input:focus {
  outline: 2px dotted #008000;
}
.general_button {
  background-color: #fca;
  color: #000;
  border-radius: 8px;
  padding: 8px;
  font-weight: bold;
  margin: 0 8px;
}
.general_button:focus {
  border: 1px dotted #f9c;
}
.nav_list_search {
  display: flex;
  width: 100%;
  height: 4em;
}
.nav_list_search_item {
  margin: auto;
}
.general_link {
  margin: 8px;
}
.alert {
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 100%;
}

nav ul {
  list-style-type: none;
  display: flex;
  width: 100%;
  height: 6em;
  justify-content: space-between;
  align-items: center;
  color: #9cf;
}
nav li {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
}
.icon svg {
  height: 32px;
  width: auto;
  fill: currentColor;
}

.separator-short {
  width: 6em;
  margin: 0;
  margin-top: 0.5em;
  border: 0;
  border-top: 2px solid #f00;
}
