* { box-sizing: border-box; }
body { background-color: #000; color: #fff; font-family: Arial, Helvetica, sans-serif; font-size: 100%; padding: 0; }
.button { background-color: #400; color: #faa; border-radius: 8px; padding: 8px; font-weight: bold; margin: 0 8px; }
.button:focus-within { background-color: #600; border-color: #fcc; color: #fcc; outline: 1px doted #fcc; outline-offset: 4px; }
.content { padding: 2em; }
.ending-separator { width: 6em; margin: 0; margin-top: 0.5em; border: 0; border-top: 2px solid #f00; }
.field { color: #afa; }
.field:focus-within { color: #cfc; outline: 1px doted #cfc; outline-offset: 4px; }
.field input, .field textarea { background-color: #030; color: #fff; border: 1px solid #afa; width: 100%; }
.field :focus { border: 1px solid #cfc; outline-width: 0; }
.formulary label { display: block; }
.header { color: #ffa; margin 0 0 1em 0; }
.header:focus { color: #fcc; outline: 1px doted #ffc; outline-offset: 4px; }
.icon { display: flex; align-items: center; justify-content: center; }
.icon svg { height: 32px; width: auto; fill: currentColor; }
.link { color: #aaf; text-decoration: underline; font-weight: bold; margin: 8px; }
.link:visited { color: #aaf; }
.link:active, .link:focus, .link:hover { color: #ccf; cursor: pointer; }
.link:focus { outline: 1px doted #ccf; outline-offset: 4px; }
.list-vertical { list-style-type: none; margin: 0; }
.list-vertical > li { list-style-type: none; margin 0 0 1em 0; }
.menu { background-color: #000; border: 1px solid #faa; border-radius: 8px; color: #fff; padding: 2em; position:fixed; top:4em; right: .5em; }
.modal-curtain { position:fixed; top:0; right:0; bottom:0; left:0; background-color:rgba(0, 0, 0, 0.3); }
.modal-wrapper { position:absolute; top: 0; right: 0; left: 0; min-height: 100%; display:flex; padding: 2em; }
.modal-window { border: 1px solid #faa; border-radius: 8px; margin: auto; background-color: #000; color: #fff; max-width: 400px; }
nav ul { list-style-type: none; display: flex; width: 100%; height: 6em; justify-content: space-between; align-items: center; color: #aaf; padding: 0 0; }
nav li { display: flex; flex-direction: row; align-items: center; list-style-type: none; }
.nav-button { width: 100%; height: auto; margin-top: 2em; margin-bottom: 2em; }
.search { display: flex; width: 100%; height: 4em; }
.search > * { margin: auto; }

