<mod name="user" />

<template if:true={user}>
    <template if:true={_favorites_}>
        <h2 class="header">Meus favoritos</h2>
        <div for:each={_favorites_} for:item={favorite}>
            <div>
                <ecl-link url={favorite.url}>{favorite.title}</ecl-link>
            </div>
        </div>
    </template>

    <template if:true={_recents_}>
        <h2 class="header">Visitas recentes</h2>
        <div for:each={_recents_} for:item={recent}>
            <div>
                <ecl-link url={recent.url}>{recent.title}</ecl-link>
            </div>
        </div>
    </template>

</template>