<label>
    Sua pesquisa
    <input type="text" class="field_text_input" wire:element={filterKeywords} onkeydown={handleInputKeydown} />
</label>
<button onclick={handleButtonClick} onkeydown={handleButtonKeydown} class="general_button">
    Pesquisar
</button>

<h2>Resultados da pesquisa</h2>

<p aria-live="polite">{status}</p>

<ul class="list-vertical" for:each={_children_} for:item={child}>
    <li>
        <ecl-link url={child.url}>{child.title.Value} - {child.author.Value}</ecl-link>
    </li>
</ul>

<h2>Explorar a biblioteca</h2>