
<p>Ao remover seu cadastro, você perderá acesso a conteúdos e funcionalidades da nossa biblioteca virtual. Noentanto, você ainda terá acesso a conteúdos de domínio público e poderá cadastrar-se novamente quando quiser. </p>
<p>Seus dados pessoais poderão permanecer bloqueados em nossos bancos de dados temporariamente. Saiba mais detalhes em nossa <ecl-link url={_urlPolitica_}>Política de privacidade</ecl-link>.</p>
<ecl-input label="Digite 'ok' para prosseguir" onchange={handleChange} />
<ecl-button label="Remover" onclick={handleClick} />